In [1]:
num = 37
if num > 1:
      for i in range(2, (num//2)+1):
         if (num % i) == 0:
            print(num, "is not a prime number")
            break
      else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

37 is a prime number

In [3]:
class Employee:
    def __init__(self, name, position):
        self.name = name
        self.position = position

    def display_info(self):
        print(f"Name: {self.name}, Position: {self.position}")

In [5]:
class EmployeeManager:
    def __init__(self):
        self.employees = []

    def add_employee(self):
        name = input("Enter employee's name: ")
        position = input("Enter employee's position: ")
        employee = Employee(name, position)
        self.employees.append(employee)
        print(f"Employee {name} added as {position}.")

    def show_employees(self):
        if not self.employees:
            print("\nNo employees added yet.")
        else:
            print("\nEmployee List:")
            for emp in self.employees:
                emp.display_info()

    def run(self):
        while True:
            print("\nEmployee Management Menu:")
            print("1. Show Employees")
            print("2. Add Employee")
            print("3. Exit")

            choice = input("Choose an option (1-3): ")

            if choice == "1":
                self.show_employees()
            elif choice == "2":
                self.add_employee()
            elif choice == "3":
                print("Exiting the program. Goodbye!")
                break
            else:
                print("Invalid choice. Please try again.")

In [7]:
if __name__ == "__main__":
    manager = EmployeeManager()
    manager.run()

Employee Management Menu:
1. Show Employees
2. Add Employee
3. Exit

Choose an option (1-3):  2
Enter employee's name:  anuj
Enter employee's position:  manager

Employee anuj added as manager.

Employee Management Menu:
1. Show Employees
2. Add Employee
3. Exit

Choose an option (1-3):  1

Employee List:
Name: anuj, Position: manager

Employee Management Menu:
1. Show Employees
2. Add Employee
3. Exit

Choose an option (1-3):  3

Exiting the program. Goodbye!

In [9]:
numbers = [1, 2, 3, 4, 5]
double_numbers = list(map(lambda x: x * 2, numbers)) 
print("Original Numbers:", numbers)
print("Doubled Numbers:", double_numbers)

Original Numbers: [1, 2, 3, 4, 5]
Doubled Numbers: [2, 4, 6, 8, 10]

In [11]:
numbers = [-10, 5, -3, 8, 0, 12, -1]
def filter_positive_numbers(numbers):
    return list(filter(lambda x: x > 0, numbers))
positive_numbers = filter_positive_numbers(numbers)
print("Original List:", numbers)
print("Positive Numbers:", positive_numbers)

Original List: [-10, 5, -3, 8, 0, 12, -1]
Positive Numbers: [5, 8, 12]

In [13]:
def find_gcd(a, b):
    while b:
        a, b = b, a % b
    return a
num1 = int(input("Pehla number daalein: "))
num2 = int(input("Dusra number daalein: "))
gcd = find_gcd(num1, num2)
print(f"{num1} aur {num2} ka GCD hai: {gcd}")

Pehla number daalein:  54
Dusra number daalein:  44

54 aur 44 ka GCD hai: 2

In [15]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1) 
num = int(input("Enter a number: "))
print(f"The factorial of {num} is: {factorial(num)}")

Enter a number:  4

The factorial of 4 is: 24

In [25]:
score = float(input("Enter the student's score: "))
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"
print("Grade:", grade)

Enter the student's score:  89

Grade: B

In [144]:
import random


def guessing_game():
    
    number_to_guess = random.randint(1, 100)
    attempts = 0
    
    print("Welcome to the Guessing Game!")
    print("I have selected a number between 1 and 100. Try to guess it!")

    while True:
        #
        guess = int(input("Enter your guess: "))
        attempts += 1
        
        if guess < number_to_guess:
            print("Too low! Try again.")
        elif guess > number_to_guess:
            print("Too high! Try again.")
        else:
            print(f"Congratulations! You guessed the number in {attempts} attempts.")
            break

guessing_game()

IndentationError: unexpected indent (2428795947.py, line 3)

In [126]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9

print("Temperature Converter")
print("1: Celsius to Fahrenheit")
print("2: Fahrenheit to Celsius")
choice = int(input("Enter your choice (1 or 2): "))

if choice == 1:
    celsius = float(input("Enter temperature in Celsius: "))
    fahrenheit = celsius_to_fahrenheit(celsius)
    print(f"{celsius}°C is equal to {fahrenheit}°F.")
elif choice == 2:
    fahrenheit = float(input("Enter temperature in Fahrenheit: "))
    celsius = fahrenheit_to_celsius(fahrenheit)
    print(f"{fahrenheit}°F is equal to {celsius}°C.")
else:
    print("Invalid choice! Please choose 1 or 2.")

Temperature Converter
1: Celsius to Fahrenheit
2: Fahrenheit to Celsius

Enter your choice (1 or 2):  55

Invalid choice! Please choose 1 or 2.

In [128]:
class Vehicle:
    def __init__(self, make, model, year, color):
        self.make = make
        self.model = model
        self.year = year
        self.color = color
        self.engine_status = "off"
    def start_engine(self):
        if self.engine_status == "off":
            self.engine_status = "on"
            print(f"{self.make} {self.model} engine started.")
        else:
            print(f"{self.make} {self.model} engine is already running.")
    def stop_engine(self):
        if self.engine_status == "on":
            self.engine_status = "off"
            print(f"{self.make} {self.model} engine stopped.")
        else:
            print(f"{self.make} {self.model} engine is already off.")
            
class Car(Vehicle):
    def __init__(self, make, model, year, color, num_doors):
        super().__init__(make, model, year, color)
        self.num_doors = num_doors

    def display_details(self):
        print(f"\nCar: {self.make} {self.model} ({self.year})")
        print(f"Color: {self.color}, Doors: {self.num_doors}")
        print(f"Engine Status: {self.engine_status}")
        
class Bike(Vehicle):
    def __init__(self, make, model, year, color, bike_type):
        super().__init__(make, model, year, color)
        self.bike_type = bike_type

    def display_details(self):
        print(f"\nBike: {self.make} {self.model} ({self.year})")
        print(f"Color: {self.color}, Type: {self.bike_type}")
        print(f"Engine Status: {self.engine_status}")

In [33]:
car = Car("Toyota", "Corolla", 2020, "Red", 4)
car.display_details()
car.start_engine()
car.stop_engine()

Car: Toyota Corolla (2020)
Color: Red, Doors: 4
Engine Status: off
Toyota Corolla engine started.
Toyota Corolla engine stopped.

In [35]:
bike = Bike("Yamaha", "YZF-R3", 2021, "Blue", "Sport")
bike.display_details()
bike.start_engine()
bike.stop_engine()

Bike: Yamaha YZF-R3 (2021)
Color: Blue, Type: Sport
Engine Status: off
Yamaha YZF-R3 engine started.
Yamaha YZF-R3 engine stopped.

In [37]:
class ToDoList:
    def __init__(self):
        self.tasks = []

    def add(self, task):
        self.tasks.append(task)
        print(f"Task '{task}' added.")

    def remove(self, index):
        if 0 <= index < len(self.tasks):
            print(f"Task '{self.tasks.pop(index)}' removed.")
        else:
            print("Invalid task number.")

    def view(self):
        if not self.tasks:
            print("No tasks to display.")
        else:
            for i, task in enumerate(self.tasks, 1):
                print(f"{i}. {task}")

todo = ToDoList()
todo.add("Buy groceries")
todo.add("Complete homework")
todo.view()
todo.remove(0)
todo.view()

Task 'Buy groceries' added.
Task 'Complete homework' added.
1. Buy groceries
2. Complete homework
Task 'Buy groceries' removed.
1. Complete homework

In [39]:
pip install pandas

Requirement already satisfied: pandas in c:\users\intel i-5\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\intel i-5\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\intel i-5\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\intel i-5\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\intel i-5\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\intel i-5\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [41]:
import pandas as pd

In [43]:
df = pd.read_csv('CountryHits240901.csv')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              100 non-null    int64
 1   Track             100 non-null    object
 2   Artist1           100 non-null    object
 3   Artist2           18 non-null     object
 4   Album             100 non-null    object
 5   Release           100 non-null    object
 6   Popularity        100 non-null    int64
 7   Duration          100 non-null    int64
 8   Danceability      100 non-null    float64
 9   Energy            100 non-null    float64
 10  Key               100 non-null    int64
 11  Loudness          100 non-null    float64
 12  Mode              100 non-null    int64
 13  Speechiness       100 non-null    float64
 14  Acousticness      100 non-null    float64
 15  Instrumentalness  100 non-null    float64
 16  Liveness          100 non-null    float64
 17  Valence           100 non-null    float64
 18  Tempo             100 non-null    float64
dtypes: float64(9), int64(5), object(5)
memory usage: 15.0+ KB

In [47]:
df.describe()

,Rank,Popularity,Duration,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,50.500000,64.230000,199394.960000,0.562360,0.716310,4.930000,-5.588640,0.810000,0.039120,0.176438,0.006681,0.156658,0.503010,124.964450
std,29.011492,13.597278,29159.812145,0.087599,0.125574,3.385217,1.518451,0.394277,0.012614,0.203237,0.059912,0.097476,0.182414,29.124518
min,1.000000,36.000000,144426.000000,0.353000,0.431000,0.000000,-11.066000,0.000000,0.024100,0.000086,0.000000,0.028700,0.146000,66.041000
25%,25.750000,55.750000,179553.500000,0.500750,0.631250,2.000000,-6.223500,1.000000,0.029775,0.018800,0.000000,0.097550,0.376000,103.704250
50%,50.500000,67.000000,191493.000000,0.569000,0.745500,5.000000,-5.375000,1.000000,0.034850,0.118000,0.000000,0.115000,0.470000,123.964500
75%,75.250000,74.000000,214696.500000,0.629750,0.815250,8.000000,-4.589750,1.000000,0.045450,0.234750,0.000004,0.183500,0.633000,142.580500
max,100.000000,89.000000,290892.000000,0.738000,0.928000,11.000000,-2.695000,1.000000,0.087300,0.874000,0.598000,0.582000,0.963000,203.912000

In [49]:
pip install numpy

Requirement already satisfied: numpy in c:\users\intel i-5\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [50]:
import numpy as np

In [57]:
 np.__version__

'1.26.4'

In [59]:
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(arr)

[[[1 2 3]
  [4 5 6]]

 [[1 2 3]
  [4 5 6]]]

In [61]:
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

print(arr[0, 1, 0])

4

In [63]:
arr_1 = np.array([1,2,3,4,5])
arr_2 = np.array([6,7,8,9,10])

arr_3 = np.dot(arr_1,arr_2)
arr_4 = arr_1 + arr_2

In [71]:
arr_3

130

In [73]:
arr_4

array([ 7,  9, 11, 13, 15])

In [75]:
short = np.array([10,20,30,40,50,60,70,80,90,100])
shorts =np.sort(short)[::-1]
print(shorts)

[100  90  80  70  60  50  40  30  20  10]

In [87]:
data = np.random.randint(0, 100, size=(3, 4))
columns = ['Math', 'Science', 'English', 'History']
df = pd.DataFrame(data, columns=columns)
print("DataFrame created using NumPy and Pandas:")
print(df)

DataFrame created using NumPy and Pandas:
   Math  Science  English  History
0    86        1       88       55
1    99       32       82       50
2    97        8       78       45